<p id="notice"><%= notice %></p>

<p>
  <strong>Amount:</strong>
  <%= @sale.amount %>
</p>

<p>
  <strong>Refunded:</strong>
  <%= @sale.refunded %>
</p>

<p>
  <strong>Paid:</strong>
  <%= @sale.paid %>
</p>

<p>
  <strong>Order:</strong>
  <%= @sale.order_id %>
</p>

<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', sales_path %>
